section.activities.js-animate.fadeIn(data-wow-offset="100")
	h2 Виды деятельности
	p Для решения поставленных задач и достижения цели организация в соответствии с действующим законодательством РФ осуществляет
	следующие виды деятельности:
	.activities--row.row
		.activities--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100")
			img.activities--img(src="blocks/activities/img/1.jpg", alt="Картинка")
			.activities--text
				Содействие в привлечении государственных, общественных, коммерческих и других организаций к решению социальных проблем
		.activities--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.2s")
			img.activities--img(src="blocks/activities/img/2.jpg", alt="Картинка")
			.activities--text
				Содействие в сфере профилактики и охраны здоровья граждан, особенно детей и молодежи
		.activities--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.4s")
			img.activities--img(src="blocks/activities/img/3.jpg", alt="Картинка")
			.activities--text
				Пропаганда здорового образа жизни
		.activities--col.col-sm-3.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.6s")
			img.activities--img(src="blocks/activities/img/4.jpg", alt="Картинка")
			.activities--text
				Помощь в социальной адаптации инвалидов
	.activities--row.row
		.activities--col.col-sm-3.col-sm-push-1.js-animate.fadeIn(data-wow-offset="100")
			img.activities--img(src="blocks/activities/img/5.jpg", alt="Картинка")
			.activities--text
				Содействие в сфере образования, науки, культуры, искусства, просвещения, духовного развития личности
		.activities--col.col-sm-3.col-sm-push-1.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.2s")
			img.activities--img(src="blocks/activities/img/6.jpg", alt="Картинка")
			.activities--text
				Оказание социальной помощи малообеспеченным и другим лицам, нуждающимся в поддержке и защите
		.activities--col.col-sm-3.col-sm-push-1.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.4s")
			img.activities--img(src="blocks/activities/img/7.jpg", alt="Картинка")
			.activities--text
				Поддержка иных социальных и благотворительных программ, предусмотренных действующим законодательством Российской Федерации