doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="global/styles/style.css")
		link(rel="shortcut icon" href="global/img/favicon.png")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet")
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		title Право на жизнь
	body
		.layoutFluid.layoutFluid-header.js-animate.fadeIn
			.layout
		
				//Begin header
				include blocks/header/header.jade
				//End header
				
		.layoutFluid.layoutFluid-nav.js-animate.fadeIn
			.layout
		
				//Begin nav
				include blocks/nav/nav.jade
				//End nav
		
		.layoutFluid.layoutFluid-banner.js-animate.fadeIn(data-wow-offset="100")
			.layout
			
				//Begin banner
				include blocks/banner/banner.jade
				//End banner
			
		.layout
			//Begin departments
			include blocks/departments/departments.jade
			//End departments
			
		.layoutFluid.layoutFluid-ourGoal.js-animate.fadeIn(data-wow-offset="100")
			.layout
		
				//Begin ourGoal
				include blocks/ourGoal/ourGoal.jade
				//End ourGoal
				
		.layoutFluid.layoutFluid-band.js-animate.fadeIn(data-wow-offset="100")
			.layout

				//Begin band
				include blocks/band/band.jade
				//End band
				
		.layout
		
			//Begin activities
			include blocks/activities/activities.jade
			//End activities
		
			//Begin mediablock
			include blocks/mediablock/mediablock.jade
			//End mediablock
		
		.layoutFluid.layoutFluid-map
		
			//Begin map
			include blocks/map/map.jade
			//End map
		
		.layoutFluid.layoutFluid-footer
			.layout
			
				//Begin footer
				include blocks/footer/footer.jade
				//End footer

		//Scripts
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="global/js/scroll.js")
		script(src="global/js/wow.js")