section.departments#departments
	h2 Региональные отделения
	.departments--row.row
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/moscov.jpg", alt="Москва")
				.departments--city Москва
				.departments--phone 8-926-644-14-83
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/voronezh.jpg", alt="Воронеж")
				.departments--city Воронеж
				.departments--phone 8 920 222-22-03 | 8 927 405-18-98
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/kazan.jpg", alt="Казань")
				.departments--city Казань
				.departments--phone 8 900-321-04-09
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/n-novgorod.jpg", alt="Нижний Новгород")
				.departments--city Нижний Новгород
				.departments--phone 8 920 017-24-19
	.departments--row.row
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/penza.jpg", alt="Пенза")
				.departments--city Пенза
				.departments--phone 8 937 912-33-03
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/samara.jpg", alt="Самара")
				.departments--city Самара
				.departments--phone 8 846-333-13-63
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/saransk.jpg", alt="Саранск")
				.departments--city Саранск
				.departments--phone 8 927 187-80-83
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/ylyanovsk.jpg", alt="Ульяновск")
				.departments--city Ульяновск
				.departments--phone 8 937 275-99-99
	.departments--row.row
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/cheboskari.jpg", alt="Чебоксары")
				.departments--city Чебоксары
				.departments--phone 8 937 674-83-83
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/izhevsk.jpg", alt="Ижевск")
				.departments--city Ижевск
				.departments--phone 8 937 674-83-83
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/ryazan.jpg", alt="Рязань")
				.departments--city Рязань
				.departments--phone 8 920 964-49-99
		.departments--col.col-xs-6.col-sm-3
			.departments--item.departments--item_1
				img.departments--img(src="blocks/departments/img/yfa.jpg", alt="Уфа")
				.departments--city Уфа
				.departments--phone 8 937 355-11-11