section.ourGoal
	h2 Наша цель:
	p Социально ориентированная помощь, как отдельным гражданам, так и обществу в целом, содействие в восстановлении и развитии институтов социального государства через воспитание активной гражданской и социальной позиции населения.
	.ourGoal--col_1.col-sm-8
		h2.ourGoal--title.js-animate.fadeIn(data-wow-offset="100") Задачи организации:
		ul.ourGoal--ul
			li.js-animate.fadeIn(data-wow-offset="100") Формирование активной гражданской и социальной позиции населения, особенно молодого поколения.
			li.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.2s") Защита социальных прав человека, правовое просвещение граждан РФ, в том числе молодежи.
			li.js-animate.fadeIn(data-wow-offset="100" data-wow-delay="0.4s") Развитие сотрудничества с государственными, региональными и муниципальными органами власти, с коммерческими и некоммерческими организациями, средствами массовой информации для решения социально значимых проблем общества: социальная политика, образование, здравоохранение, здоровый образ жизни, поддержка семьи, помощь малоимущим гражданам, инвалидам, детям сиротам и детям, оставшимся без попечения родителей. А также помощь людям, имеющих алкогольную и наркотическую зависимости, в решении данной проблемы.
	.ourGoal--col_2.hidden-xs.col-sm-4
		img.ourGoal--img.img-responsive(src="blocks/ourGoal/img/img.png", alt="Тематическая картинка")