header.header.row
	.header--logoCol.col-sm-6
		.header--logoWrapper
			img.header--logo(src="blocks/header/img/logo.jpg", alt="Логотип")
			h1.header--title Право на жизнь
				.header--titleText общественная организация
	.header--contactsCol.col-sm-6
		.header--contactsWrapper
			.header--phone 8-800-550-50-03
			.header--phoneText Бесплатная горячая линия