.banner
	.banner--text
		p Добро пожаловать! Мы рады видеть Вас на нашем сайте! Наш социальный проект был создан в 2013 г. для помощи детям, многодетным и малоимущим семьям. Мы являемся некоммерческой организацией и рады любой помощи от всех неравнодушных людей, мы ждем Вашей поддержки, и предлагаем Вам стать нашим партнером!

		p С наилучшими пожеланиями «Право на жизнь»!