.mediablock
	h2 Выбери жизнь
	p Помощь в социальной реабилитации людей, попавших в трудную жизненую ситуацию.
	.mediablock--row.row
		.mediablock--item.col-sm-6
			img.mediablock--media(src="blocks/mediablock/img/video.jpg", alt="Видео")
		.mediablock--item.col-xs-6.col-sm-3
			img.mediablock--media(src="blocks/mediablock/img/1.jpg", alt="Картинка")
		.mediablock--item.col-xs-6.col-sm-3
			img.mediablock--media(src="blocks/mediablock/img/2.jpg", alt="Картинка")
	.mediablock--row.row
		.mediablock--item.col-xs-6.col-sm-3
			img.mediablock--media(src="blocks/mediablock/img/3.jpg", alt="Видео")
		.mediablock--item.col-xs-6.col-sm-3
			img.mediablock--media(src="blocks/mediablock/img/4.jpg", alt="Картинка")
		.mediablock--item.col-sm-6
			img.mediablock--media(src="blocks/mediablock/img/5.jpg", alt="Картинка")