html,
body {
	height: 100%;
	min-height: 100%;
	font-family: $font_1;
	font-size: 90%;
	//
	@media (min-width: $lg) {
		font-size: 100%;
	}
}

.row {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 20px 0 15px 0;
	text-align: center;
	text-transform: uppercase;
	//
	@media (min-width: $lg) {
		font-size: 1.7rem;
		margin: 40px 0 30px 0;
	}
}