nav.nav
	input.nav--control(type="checkbox" id="nav--control")
	label.nav--button(for="nav--control")
		.nav--buttonBand
		.nav--buttonBand
		.nav--buttonBand
	ul.nav--menu
		li.nav--menuItem.js-menuItem(href=".departments") Города
		li.nav--menuItem.js-menuItem(href=".ourGoal") Цели и задачи
		li.nav--menuItem.js-menuItem(href=".activities") Наша деятельность
		li.nav--menuItem.js-menuItem(href=".mediablock") Выбери жизнь
		li.nav--menuItem.js-menuItem(href=".map") Контакты
			