.nav {
	padding: 10px 0;
	background: $color_1;
	//
	&--control {
		display: none;
		//
		&:checked~.nav--menu {
			display: table;
			margin: 0 auto;
		}
	}
	&--button {
		display: block;
		margin: 0 auto;
		width: 35px;
		height: 35px;
		padding-top: 4px;
		border: 1px solid $color_2;
		border-radius: 5px;
		background: white;
		cursor: pointer;
		//
		@media (min-width: $sm) {
			display: none;
		}
	}
	&--buttonBand {
		width: 60%;
		margin: 5px auto;
		height: 2px;
		background: $color_2;
	}
	&--menu {
		display: none;
		position: relative;
		left: -20px;
		list-style: none;
		text-align: center;
		//
		@media (min-width: $sm) {
			display: table;
			margin: 0 auto;
			padding: 0;
			left: 30px;
		}
	}
	&--menuItem {
		margin-top: 25px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.9rem;
		color: black;
		cursor: pointer;
		//
		@media (min-width: $sm) {
			display: inline-block;
			margin-right: 50px;
			margin-top: 0;
		}
	}
}