nav.nav
	input.nav--control(type="checkbox" id="nav--control")
	label.nav--button(for="nav--control")
		.nav--buttonBlind
		.nav--buttonBlind
		.nav--buttonBlind
	ul.nav--menu
		li.nav--menuItem Города
		li.nav--menuItem Цели и задачи
		li.nav--menuItem Наша деятельность
		li.nav--menuItem Выбери жизнь
		li.nav--menuItem Контакты
			