footer.footer.js-animate.fadeIn
	.footer--copy.js-animate.fadeIn(data-wow-delay="0.2s")
		© 2017 ПРАВО НА ЖИЗНЬ, г. Нижний Новгород
	.footer--artMebius.js-animate.fadeIn(data-wow-delay="0.4s") Сделано в 
		a(href="http://artmebius.com") Artmebius